@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  height: 40px;
  z-index: 1;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  h1 {
    font-size: 24px;
  }
}

/* scroll */
.scroll_wrap {
  overflow: hidden;
}
.scroll_on {
  opacity: 0;
  transition: all 1s;
}
.scroll_on.active {
  opacity: 1 !important;
  transform: translate(0, 0) !important;
}
.scroll_on.type_top {
  transform: translate(0, -50px);
}
.scroll_on.type_bottom {
  transform: translate(0, 50px);
}
.scroll_on.type_left {
  transform: translate(-50px, 0);
}
.scroll_on.type_right {
  transform: translate(50px, 0);
}

/* Gallery */
.gallGridWrapper {
  padding: 5px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  overflow: hidden;
  transition: height 1s ease-in-out;
}
.gallGridWrapper.twoRow {
  grid-template-columns: repeat(2, 1fr);
  padding: 5px 20px;
  gap: 8px;
}
.gallGridWrapper.ratio .item {
  aspect-ratio: 10 / 13;
}
.gallGridWrapper .item {
  aspect-ratio: 1 / 1;
  background-color: #ddd;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 4px;
}
.gallGridWrapper .item .box {
  display: none;
  width: 100%;
  visibility: hidden;
}
.gallGridWrapper:not(.ratio) .item .square {
  display: block;
}
.gallGridWrapper.ratio .item .rectangle {
  display: block;
}
.gallGridWrapper .item:nth-child(3),
.gallGridWrapper .item:nth-child(6),
.gallGridWrapper .item:nth-child(9),
.gallGridWrapper .item:nth-child(12),
.gallGridWrapper .item:nth-child(15),
.gallGridWrapper .item:nth-child(18),
.gallGridWrapper .item:nth-child(21),
.gallGridWrapper .item:nth-child(24),
.gallGridWrapper .item:nth-child(27),
.gallGridWrapper .item:nth-child(30),
.gallGridWrapper .item:nth-child(33),
.gallGridWrapper .item:nth-child(36),
.gallGridWrapper .item:nth-child(39),
.gallGridWrapper .item:nth-child(42) {
  margin-right: 0;
}
.gallGridWrapper.multiple {
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: calc(((425px - 40px) / 2 - 8px / 2) / 20 * 10);
  gap: 8px;
}
.gallGridWrapper:not(.multiple) + .moreBtnWrap .moreBtnGradient {
  display: none;
}
.gallGridWrapper.twoRow.multiple {
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: calc(((425px - 40px) / 2 - 8px / 2) / 16 * 10);
}
@media screen and (max-width: 425px) {
  .gallGridWrapper.multiple {
    grid-auto-rows: calc(((100vw - 40px) / 2 - 8px / 2) / 20 * 10);
  }
  .gallGridWrapper.twoRow.multiple {
    grid-auto-rows: calc(((100vw - 40px) / 2 - 8px / 2) / 16 * 10);
  }
}
.gallGridWrapper.multiple .item {
  aspect-ratio: unset !important;
  height: 100%;
}

.gallGridWrapper.multiple + .moreBtnWrap .moreBtnGradient {
  background: linear-gradient(
    0deg,
    rgba(250, 250, 250, 1) 0%,
    rgba(250, 250, 250, 0.55) 60%,
    rgba(250, 250, 250, 0.5) 73%,
    rgba(250, 250, 250, 0.25) 83%,
    rgba(250, 250, 250, 0) 100%
  );
}
.bg_theme_white .gallGridWrapper.multiple + .moreBtnWrap .moreBtnGradient {
  background: linear-gradient(
    0deg,
    rgba(250, 250, 250, 1) 0%,
    rgba(250, 250, 250, 0.55) 60%,
    rgba(250, 250, 250, 0.5) 73%,
    rgba(250, 250, 250, 0.25) 83%,
    rgba(250, 250, 250, 0) 100%
  );
}
.bg_theme_brown .gallGridWrapper.multiple + .moreBtnWrap .moreBtnGradient {
  background: linear-gradient(
    0deg,
    rgba(242, 236, 230, 1) 0%,
    rgba(242, 236, 230, 0.55) 60%,
    rgba(242, 236, 230, 0.5) 73%,
    rgba(242, 236, 230, 0.25) 83%,
    rgba(242, 236, 230, 0) 100%
  );
}
.bg_theme_purple .gallGridWrapper.multiple + .moreBtnWrap .moreBtnGradient {
  background: linear-gradient(
    0deg,
    rgba(241, 237, 238, 1) 0%,
    rgba(241, 237, 238, 0.55) 60%,
    rgba(241, 237, 238, 0.5) 73%,
    rgba(241, 237, 238, 0.25) 83%,
    rgba(241, 237, 238, 0) 100%
  );
}
.bg_theme_pink .gallGridWrapper.multiple + .moreBtnWrap .moreBtnGradient {
  background: linear-gradient(
    0deg,
    rgba(254, 247, 247, 1) 0%,
    rgba(254, 247, 247, 0.55) 60%,
    rgba(254, 247, 247, 0.5) 73%,
    rgba(254, 247, 247, 0.25) 83%,
    rgba(254, 247, 247, 0) 100%
  );
}

.grdMoreBnt {
  font-size: 1.4rem;
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
}

.zoomGallWrapper {
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 0.5s; /* don't forget to set a duration! */
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.92);
  z-index: 10001;
}
#fullbox {
  display: block;
  width: 100%;
  height: 100%;
}
#fullbox .swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
#fullbox .swiper-wrapper .swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
.zoomGallWrapper .swiper-pagination-bullets {
  bottom: 50px !important;
}
.zoomGallWrapper .swiper-pagination-bullet {
  background: #444;
  width: 12px;
  height: 12px;
  opacity: 0.5;
}
.zoomGallWrapper .swiper-pagination-bullet-active {
  opacity: 0.8;
  background: #777 !important;
}
.zoomGallWrapper .close {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #bbb;
  font-size: 0px;
  z-index: 10002;
  cursor: pointer;
  width: 25px;
  height: 25px;

  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
}
.zoomGallWrapper .close img {
  width: 100%;
}

/* Calendar */
.calendar th,
.calendar td {
  width: 14%;
  text-align: center;
  padding: 6px 0;
  font-weight: normal;
  font-size: 1.4rem;
}
.calendar th {
  padding-bottom: 14px;
}
.calendar tr th:first-child,
.calendar tr td:first-child {
  color: #f79e9e;
}
.calendar tr th:nth-child(7),
.calendar tr td:nth-child(7) {
  color: #2a3954;
}
.calendar .dday {
  display: inline-block;
  background: #f79e9e;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #fff;
}

.dday-wrap {
  letter-spacing: -0.5px;
  border-left: 0;
  border-right: 0;
  font-size: 1.6rem;
  text-align: center;
  padding-bottom: 20px;
}
.dday-wrap .countdown {
  font-family: Crimson Pro;
  margin: 0 0 10px;
}
.dday-wrap .countdown > div {
  display: inline-block;
  vertical-align: top;
  font-size: 1.2rem !important;
  letter-spacing: 0;
  line-height: 1.6rem;
  text-transform: uppercase;
}
.dday-wrap .countdown .desc {
  color: #2b2222;
  opacity: 0.4;
}
.dday-wrap .countdown > div > span {
  display: inline-block;
  font-size: 1.6rem !important;
  padding: 0 2.5px;
  text-align: center;
  line-height: 2.88rem;
  color: #544f4f;
}
.dday-wrap .countdown .card {
  color: #2b2222;
  font-size: 2.4rem !important;
  width: 32px;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  opacity: 0.8;
}
